@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    font-family: "Anta", sans-serif;
    margin: 0;
    padding: 0;
}

.navbutt {
    text-decoration: none;
    float: left;
    color: #00a6fb;
    background-color: #003554;
    padding: 0.75vw;
    width: 6vw;
    height: 1vw;
    text-align: center;
    margin: 0.5vw;
    font-size: 10pt;
}

.navbutt>p {
    margin: auto;
}

.navbutt:hover {
    float: left;
    background-color: #00a6fb;
    color: #003554;
}

.topNavbar {
    float: left;
    background-color: #051923;
    width: 100%;
    height: vw;
    color: #00a6fb;
}

.mainContainer {
    float: left;
    clear: both;
    background-color: #003554;
    width: 100%;
}

.footer {
    float: left;
    clear: both;
    background-color: #051923;
    width: 100%;
    color: #00a6fb;
    text-align: right;
    font-size: 8pt;
    padding: 0.5vw;
}

.logoContainer {
    float: left;
    width: 10%;
    border: 1px solid #00a6fb;
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin: 0.5%;
}

.logo {
    width: 100%;
}

.abbreviationContainer {
    display: flex;
    flex-direction: row;
    height: 3vw;
    width: 3vw;
}

.favCar,
.favMotorcycle,
.favTractor {
    background-color: #00a6fb;
    width: 30%;
    margin: 1%;
    text-align: center;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    height: 100%;
}



@media screen and (max-width: 600px) {
    .abbreviationContainer {
        display: flex;
        flex-direction: column;
    }
}